/*Light Mode Color Pallet and Assets*/
:root {
  --primary-color: #ffffff;
  --secondary-color: #07060F;
  --accent-color: #E4FBEB;
  --bg-gradient: url("./assets/gradient_light.webp");
  --home-button: url("./assets/svg/light/home.svg");
  --theme-button: url("./assets/svg/light/theme.svg");
  --menu-button: url("./assets/svg/light/menu.svg");
  --cancel-button: url("./assets/svg/light/cancel.svg");
}

/*Dark Mode Color Pallet and Assets*/
[data-theme="dark"] {
  --primary-color: #07060F;
  --secondary-color: #ffffff;
  --accent-color: #191F48;
  --bg-gradient: url("./assets/gradient_dark.webp");
  --home-button: url("./assets/svg/dark/home.svg");
  --theme-button: url("./assets/svg/dark/theme.svg");
  --menu-button: url("./assets/svg/dark/menu.svg");
  --cancel-button: url("./assets/svg/dark/cancel.svg");
}

/*Only for "Big Screens"*/
@media only screen and (min-width: 600px) {
  /*Disables Submenu and Corresponding Button*/
  .menu {
    display: None;
  }
  .submenu {
    display: none;
  }
  .drop {
    display: none;
  }
}

/*Only for "Small Screens"*/
@media only screen and (max-width: 599px) {
  /*Enables Submenu and Corresponding Button when screen is too small*/
  .nav {
    display: None;
  }
  /*show the submenu when input is checked*/
  input:checked ~ .submenu {
    background: var(--sub-background-color);
    border-radius: 10px;
    height: auto;
    display: block;
    width: 100%;
  }
}

body {
  margin: 0px;
  padding: 0px;
  background-image: var(--bg-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Avenir", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}


/*CSS For Topbar*/
.topbar {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100vw;
  background: var(--primary-color);
  position: sticky;
  top: 0%;
}

.home {
  content: var(--home-button);
  width: 55px;
  height: 55px;
  padding: 5px;
}

.page {
  text-decoration: none;
  color: var(--secondary-color);
}

/*Lines up Navigation and spaces them correctly*/
.nav {
  height: 65px;
  line-height: 65px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 18px;
}
.about {
  margin-left: auto;
}
.creations {
  margin: auto 20px;
}

.theme {
  content: var(--theme-button);
  margin-left: auto;
  width: 55px;
  height: 55px;
  padding: 5px;
  cursor: pointer;
}

.menu {
  content: var(--menu-button);
  cursor: pointer;
  width: 55px;
  height: 55px;
  padding: 5px;
}
#dropdown:checked ~ label .menu {
  content: var(--cancel-button);
}

/*For Links in Submenu*/
.sub {
  display: flex;
  width: 100%;
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  vertical-align: left;
  font-weight: bold;
  font-size: 18px;
}

/*hide the inputs/checkmarks and submenu*/
input,
.submenu {
  display: none;
}
/*position the label*/
label {
  position: relative;
  display: block;
  cursor: pointer;
}


/*TEMPERARY Testing Stuff*/
.banner {
  width: 100%;
  max-height: 100vw;
  height: auto;
  text-align: center;
  vertical-align: middle;
  line-height: max(calc(100vh - 130px), 65px);
  font-size: min(10vw, 6em);
  font-weight: bold;
}
.section {
  width: calc(100vw - 130px);
  height: auto;
  padding: 65px;
  word-wrap: break-word;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 60px;
  background-color: var(--primary-color);
  flex-direction: row-reverse;
}
.text {
  width: 50vw;
  flex-shrink: 0;
}
.image {
  margin: auto;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alt {
  flex-direction: row;
  background-color: var(--accent-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}