/*Light Mode Color Pallet and Assets*/
:root {
  --primary-color: #ffffff;
  --secondary-color: #07060F;
  --accent-color-1: #E4FBEB;
  --accent-color-2: #A5EED1;
  --accent-color-3: #68DED4;
  --accent-color-4: #33A4C7;
  --accent-color-5: #285286;
  --accent-color-6: #191F48;
  --bg-gradient: url("./assets/gradient_blue_light_small.webp");
  --home-button: url("./assets/svg/light/home.svg");
  --theme-button: url("./assets/svg/light/theme.svg");
  --menu-button: url("./assets/svg/light/menu.svg");
  --cancel-button: url("./assets/svg/light/cancel.svg");
  --welcome-image: url("./assets/temp.png");
}

/*Dark Mode Color Pallet and Assets*/
[data-theme="dark"] {
  --primary-color: #07060F;
  --secondary-color: #ffffff;
  --accent-color-1: #191F48;
  --accent-color-2: #285286;
  --accent-color-3: #33A4C7;
  --accent-color-4: #68DED4;
  --accent-color-5: #A5EED1;
  --accent-color-6: #E4FBEB;
  --bg-gradient: url("./assets/gradient_blue_dark_small.webp");
  --home-button: url("./assets/svg/dark/home.svg");
  --theme-button: url("./assets/svg/dark/theme.svg");
  --menu-button: url("./assets/svg/dark/menu.svg");
  --cancel-button: url("./assets/svg/dark/cancel.svg");
  --welcome-image: url("./assets/temp_alt.png");
}

/*Only for "Big Screens"*/
@media only screen and (min-width: 600px) {
  /*Disables Submenu and Corresponding Button*/
  .menu {
    display: None;
  }
  .submenu {
    display: none;
  }
  .drop {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .section {
    width: calc(100vw - 80px);
    height: auto;
    padding: 65px 40px;
    word-wrap: break-word;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: var(--primary-color);
    flex-direction: row-reverse;
    transition: background-color ease-in-out .3s;
  }
  .alt {
    flex-direction: row;
    background-color: var(--accent-color-1);
    transition: background-color ease-in-out .3s;
  }
  .text {
    width: 50vw;
    flex-shrink: 0;
  }
}

/*Only for "Small Screens"*/
@media only screen and (max-width: 599px) {
  /*Enables Submenu and Corresponding Button when screen is too small*/
  .nav {
    display: None;
  }
  /*show the submenu when input is checked*/
  input:checked ~ .submenu {
    background: var(--sub-background-color);
    border-radius: 10px;
    height: auto;
    display: block;
    width: 100%;
    transition: background ease-in-out .3s;
  }
}

@media only screen and (max-width: 1199px) {
  .section {
    width: calc(100vw - 80px);
    height: auto;
    padding: 65px 40px;
    word-wrap: break-word;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: var(--primary-color);
    flex-direction: column;
    transition: background-color ease-in-out .3s;
  }
  .alt {
    background-color: var(--accent-color-1);
    transition: background-color ease-in-out .3s;
  }
  .text {
    flex-shrink: 0;
  }
}
h2 {
  margin-top: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Avenir", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  transition: background-color ease-in-out .3s, color ease-in-out .3s;
}
.background {
  z-index: -1;
  background-image: var(--bg-gradient);
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-size: cover;
  background-position: center;
  transition: background-image ease-in-out .3s;
}

/*CSS For Topbar*/
.topbar {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100vw;
  background: var(--primary-color);
  position: sticky;
  top: 0%;
  transition: background ease-in-out .3s;
}

.home {
  content: var(--home-button);
  width: 55px;
  height: 55px;
  padding: 5px;
  transition: content ease-in-out .3s;
}

.page {
  text-decoration: none;
  color: var(--secondary-color);
  transition: color ease-in-out .3s;
}

/*Lines up Navigation and spaces them correctly*/
.nav {
  height: 65px;
  line-height: 65px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 18px;
}
.about {
  margin-left: auto;
}
.creations {
  margin: auto 20px;
}

.theme {
  content: var(--theme-button);
  margin-left: auto;
  width: 55px;
  height: 55px;
  padding: 5px;
  cursor: pointer;
  transition: content ease-in-out .3s;
}

.menu {
  content: var(--menu-button);
  cursor: pointer;
  width: 55px;
  height: 55px;
  padding: 5px;
  transition: content ease-in-out .3s;
}
#dropdown:checked ~ label .menu {
  content: var(--cancel-button);
  transition: content ease-in-out .3s;
}

/*For Links in Submenu*/
.sub {
  display: flex;
  width: 100%;
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  vertical-align: left;
  font-weight: bold;
  font-size: 18px;
}

/*hide the inputs/checkmarks and submenu*/
input,
.submenu {
  display: none;
}
/*position the label*/
label {
  position: relative;
  display: block;
  cursor: pointer;
}


/*TEMPERARY Testing Stuff*/
.banner {
  width: 100%;
  max-height: calc(100vh - 130px);
  height: auto;
  text-align: center;
  vertical-align: middle;
  line-height: max(calc(100vh - 130px), 65px);
  font-size: min(10vw, 6em);
  font-weight: bold;
}
.image {
  height: auto;
  margin: 0px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  color: var(--accent-color-5);
  transition: color ease-in-out .3s;
}

.welcomeImage {
  content: var(--welcome-image);
  transition: content ease-in-out .3s;
}

@keyframes fadeIn {
  0% {
      opacity: 0.01;
  }
  1% {
      opacity: 0;
  }
  10% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}